.git
.env
.env.*
!.env.example
vendor
node_modules
.phpunit.result.cache
.phpunit.cache
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/build
public/storage
*.md
.editorconfig
.gitattributes
